*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.topNav{
    background-color: black;
    overflow: hidden;
}
.topNav a{
    font-size: 20px;
    text-decoration: none;
    display: block;
    float:left;
    padding: 14px 16px;
    color: white;
}
.topNav a.icon{
    display: none;
}
.topNav a:hover{
    background-color: #bbbbbb;
    color: black;
}
.topNav a.active{
    background-color: #4CAF50;
    color: white;
}
@media screen and (max-width: 600px){
    .topNav a:not(:first-child){
        display: none;
    }
    .topNav a.icon{
        display: block;
        float: right;
    }
    .topNav.responsive a{
        float: none;
        display: block;
    }
    .topNav.responsive {
        position: relative;
    }
    .topNav.responsive a.icon{
        position: absolute;
        top: 0;
        right: 0;
    }
}
